html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }
  #div1{
    height: 80px;
    width: 100%;
    background-color: grey;
    justify-content: center;
    align-content: center;
    color: white;
  }
  
  #div2{
    height: 400px;;
    width: 100%;
    background-color: white;
    color: black;
}